CREATE USER {{ wiki_db_user }} WITH PASSWORD '{{ wiki_db_password }}';
CREATE USER {{ n8n_db_user }} WITH PASSWORD '{{ n8n_db_password }}';
CREATE USER {{ ollama_db_user }} WITH PASSWORD '{{ ollama_db_password }}';