CREATE DATABASE {{ wiki_db_name }} OWNER {{ wiki_db_user }};
CREATE DATABASE {{ n8n_db_name }} OWNER {{ n8n_db_user }};
CREATE DATABASE {{ ollama_db_name }} OWNER {{ ollama_db_user }};

GRANT ALL PRIVILEGES ON DATABASE {{ wiki_db_name }} TO {{ wiki_db_user }};
GRANT ALL PRIVILEGES ON DATABASE {{ n8n_db_name }} TO {{ n8n_db_user }};
GRANT ALL PRIVILEGES ON DATABASE {{ ollama_db_name }} TO {{ ollama_db_user }};