DB_POSTGRESDB_HOST={{ db_host }}
DB_POSTGRESDB_PORT={{ db_port }}
DB_POSTGRESDB_DATABASE={{ db_name }}
DB_POSTGRESDB_USER={{ db_user }}
DB_POSTGRESDB_PASSWORD={{ vault_db_password }}
DB_POSTGRESDB_SCHEMA={{ db_schema }}
N8N_SECURE_COOKIE={{ n8n_secure_cookie }}
