server {
    listen 80;
    server_name {{ domain_n8n }};
    return 301 https://$server_name$request_uri;
}
# N8N settings
server {
    listen 443 ssl http2;
    server_name {{ domain_n8n }};

    ssl_certificate /etc/ssl/certs/site.crt;
    ssl_certificate_key /etc/ssl/certs/site.key;

    # Оптимизация SSL
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;

    location / {
        proxy_pass http://{{ ip_addr_n8n }}:5678;

        # Важнейшие настройки для WebSockets
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        # Передача реальных IP
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # Увеличиваем таймауты до 1 часа (чтобы Ollama успела ответить)
        proxy_read_timeout 3600s;
        proxy_send_timeout 3600s;
        proxy_connect_timeout 3600s;

        # Отключаем буферизацию, чтобы ответ от AI шел потоком (стриминг)
        proxy_buffering off;
        proxy_cache_bypass $http_upgrade;
    }
}
# Wiki settings
server {
    listen 80;
    server_name {{ domain_wiki }};
    return 301 https://$server_name$request_uri;
}
server {
    listen 443 ssl http2;
    server_name {{ domain_wiki }};

    ssl_certificate /etc/ssl/certs/site.crt;
    ssl_certificate_key /etc/ssl/certs/site.key;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;

    location / {
        proxy_pass http://{{ ip_addr_wiki }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # WebSocket support
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_cache_bypass $http_upgrade;

        proxy_read_timeout 86400;
        proxy_send_timeout 86400;
        proxy_connect_timeout 86400;
    }
}